@use '/src/styles/style.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: style.$middle_green;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: style.$wrapper_width_mobile;
}

.qaWrapper {
  width: fit-content;
  height: fit-content;
  padding: 28px;
  border-radius: 16px;
  background-color: white;
}

.qaGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 100%;
  height: 500px;
  padding: 0px 12px;
  border-radius: 16px;
  background-color: white;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-button {
    height: 0;
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #CDC9C6;
  }
  &::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
}

.qa {
  width: 100%;
}

.question {
  margin-bottom: 16px;
  font-size: style.$font_size;
  font-weight: style.$title_font_weight;
  line-height: 28px;
  color: style.$light_green;
}

.answer {
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  color: style.$font_black;
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 120px;
  }

  .wrapper {
    width: style.$wrapper_width_tablet;
  }
}

@media screen and (min-width: 991px) {
  .wrapper {
    width: style.$wrapper_width;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 80px;
    padding-bottom: 250px;
  }

  .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 10%;
      left: 8%;
      width: 235px;
      height: 676px;
      background-image: url('../../../public/bg/bg_10_item_1.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::after {
      content: '';
      position: absolute;
      top: 10%;
      right: 8%;
      width: 140px;
      height: 688px;
      background-image: url('../../../public/bg/bg_10_item_2.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .qaWrapper {
    width: fit-content;
    height: fit-content;
    padding: 56px 36px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 4px 4px 20px 0px #0000001A;
  }

  .qaGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    width: 880px;
    height: 500px;
    padding: 0px 50px;
    border-radius: 16px;
  }

  .qa {
    width: 700px;
  }
}