@use '/src/styles/style.scss';

.container {
  height: fit-content;
  background-color: style.$dark_green;
  padding-top: 90px;
  padding-bottom: 40px;
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 100%;
    height: 12vw;
    background-color: style.$middle_green;
    background-image: url('../../../public/svg/bg_8.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.bg {
  position: absolute;
  top: -20px;
  width: 100%;
  height: 12vw;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 73px;
    height: 122px;
    background-image: url('../../../public/bg/bg_7_item_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 10%;
    width: 154px;
    height: 77px;
    background-image: url('../../../public/bg/bg_7_item_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.wrapper {
  color: white;
}

.mapWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.map {
  width: 332px;
  max-width: 90%;
  height: 284px;
  margin-bottom: 40px;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .bg {
    top: -60px;
    &::after {
      top: 0;
      left: 16%;
      width: 160px;
      height: 268px;
      background-image: url('../../../public/bg/bg_7_item_1.png');
    }

    &::before {
      top: 40px;
      right: 8%;
      width: 220px;
      height: 110px;
      background-image: url('../../../public/bg/bg_7_item_2.png');
    }
  }

  .map {
    width: 70%;
    height: 320px;
    margin-bottom: 48px;
    border-radius: 16px;
  }
}

@media screen and (min-width: 991px) {
  .container {
    padding-top: 200px;
  }

  .bg {
    top: 0;
    &::after {
      top: 0;
      left: 20%;
      width: 200px;
      height: 335px;
      background-image: url('../../../public/bg/bg_7_item_1.png');
    }

    &::before {
      top: 40px;
      right: 18%;
      width: 296px;
      height: 148px;
      background-image: url('../../../public/bg/bg_7_item_2.png');
    }
  }

  .map {
    width: 1073px;
    height: 548px;
    margin-bottom: 72px;
    border-radius: 16px;
  }
}