@use '/src/styles/style.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: style.$middle_green;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vw;
    background-image: url('../../../public/svg/bg_7.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: style.$wrapper_width_mobile;
  color: white;
}

.describe {
  width: 90%;
  margin-bottom: 24px;
  font-size: style.$font_size;
  font-weight: style.$body_font_weight;
  line-height: 32px;
  text-align: justify;
  text-align-last: center;
}

.point {
  margin-bottom: 24px;
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  line-height: 28px;
  text-align: center;
  opacity: 0.6;
}

.prizeGroup {
  display: flex;
  flex-flow: column;
  gap: 52px;
  margin-bottom: 40px;
  background-image: url('../../../public/bg/bg_6_item_1_m.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat space;
}

.prize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prizeImg {
  width: 72%;
  height: auto;
  margin-bottom: 24px;
}


.title {
  font-size: style.$font_size;
  font-weight: style.$body_font_weight;
  line-height: 32px;
}

.subtitle {
  font-size: style.$font_size;
  font-weight: style.$title_font_weight;
  line-height: 32px;
}

.note {
  margin-top: 12px;
  font-size: style.$note_font_size;
  font-weight: style.$body_font_weight;
  text-align: center;
  line-height: 18px;
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 140px;
  }

  .wrapper {
    width: style.$wrapper_width_tablet;
  }

  .describe {
    width: 100%;
    line-height: 32px;
  }

  .prizeImg {
    width: 60%;
    height: auto;
    margin-bottom: 24px;
  }
}


@media screen and (min-width: 991px) {
  .container {
    padding-bottom: 34px;
  }

  .wrapper {
    position: relative;
    width: style.$wrapper_width;
    &::after {
        content: '';
        position: absolute;
        top: 20%;
        left: 0;
        width: 8vw;
        height: 8vw;
        background-image: url('../../../public/bg/bg_7_item_3.png');
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
      }
    
      &::before {
        content: '';
        position: absolute;
        top: 22%;
        right: 0;
        width: 5vw;
        height: 5vw;
        background-image: url('../../../public/bg/bg_7_item_4.png');
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
      }
  }

  .describe {
    width: 60%;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .point {
    margin-bottom: 64px;
  }

  .prizeGroup {
    flex-flow: row wrap;
    justify-content: center;
    gap: 44px;
    margin-bottom: 72px;
    background-image: none;
  }

  .prizeImg {
    width: auto;
    height: 200px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    &::after {
      top: 20%;
      left: 0;
      width: 6vw;
      height: 6vw;
    }

    &::before {
      top: 24%;
      right: 0;
      width: 4vw;
      height: 4vw;
    }
  }

  .prizeGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 52px;
    column-gap: 44px;
    background-image: none;
  }

  .prize {
    display: flex;
    justify-content: flex-end;
    width: 240px;
  }

  .prizeImg {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}