
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72vh;
}

.moonBg {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/img/KV_img/mobile/KV_3_bg_m.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; 
}

.title {
  position: absolute;
  top: 10vh;
  z-index: 3;
  width: 100%;
  height: 40%;
  min-height: 180px;
  background-image: url('../../../public/img/KV_img/mobile/KV_1_title_m.png');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadein 1.5s forwards 0.5s;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/img/KV_img/mobile/KV_2_subtitle_m.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadein 1s forwards 0.8s;
  }
}

.decorate {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/img/KV_img/mobile/KV_4_sky_m.png');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
  opacity: 0;
  animation: fadein 2s forwards 1.5s;
}

.grass {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/img/KV_img/mobile/KV_5_footer_m.png');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
  height: 50%;
  background-image: url('../../../public/img/KV_img/mobile/KV_6_item_m.png');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cloudLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/img/KV_img/mobile/KV_7_cloud_m.png');
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.cloudRight {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    padding-bottom: 40px;
  }

  .moonBg {
    background-image: url('../../../public/img/KV_img/PC/KV_3_bg.jpg');
  }

  .title {
    position: relative;
    z-index: 3;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    background-image: url('../../../public/img/KV_img/PC/KV_1_title.png');

    &::after {
      content: '';
      position: absolute;
      background-image: url('../../../public/img/KV_img/PC/KV_2_subtitle.png');
    }
  }

  .decorate {
    position: absolute;
    top: 32vh;
    width: 100%;
    height: 42%;
    background-image: url('../../../public/img/KV_img/PC/KV_4_sky.png');
    background-size: cover;
  }

  .grass {
    width: 100%;
    height: 100%;
    background-image: url('../../../public/img/KV_img/PC/KV_5_footer.png');
  }

  .item {
    position: relative;
    width: 1840px;
    max-width: 80%;
    height: 45vh;
    background-image: url('../../../public/img/KV_img/PC/KV_6_item.png');
  }

  .cloudLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    height: 80%;
    background-image: url('../../../public/img/KV_img/PC/KV_7_cloud_l.png');
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cloudRight {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 50%;
    height: 80%;
    background-image: url('../../../public/img/KV_img/PC/KV_8_cloud_r.png');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 991px) {
  .container {
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-top: 64px;
    padding-bottom: 40px;
  }

  .title {
    position: relative;
    z-index: 3;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-image: url('../../../public/img/KV_img/PC/KV_1_title.png');

    &::after {
      content: '';
      position: absolute;
      background-image: url('../../../public/img/KV_img/PC/KV_2_subtitle.png');
    }
  }

  .decorate {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 80%;
    background-image: url('../../../public/img/KV_img/PC/KV_4_sky.png');
    background-size: contain;
  }
}