@use '/src/styles/style.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 24px;
  padding-bottom: 80px;
  background-color: style.$dark_green;
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, #02887B 0%, #006060 100%);
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: style.$wrapper_width_mobile;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 28px;
  border-radius: 20px;
  background-color: white;
}

.activityList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 28px;
}

.tab {
  font-size: style.$font_size;
  font-weight: style.$title_font_weight;
  line-height: 32px;
  padding-bottom: 10px;
  color: #ABABAB;
  &:hover {
    cursor: pointer;
  }
}

.activity1 {
  padding-bottom: 7px;
  color: #F4AA1C;
  border-bottom: 3px solid #F4AA1C;
}

.activity2 {
  padding-bottom: 7px;
  color: #109D91;
  border-bottom: 3px solid #109D91;
}

.activity3 {
  padding-bottom: 7px;
  color: #FF7628;
  border-bottom: 3px solid #FF7628;
}

.activity4 {
  padding-bottom: 7px;
  color: #E9545D;
  border-bottom: 3px solid #E9545D;
}

.activity5 {
  padding-bottom: 7px;
  color: #3585FF;
  border-bottom: 3px solid #3585FF;
}

.activityBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: style.$light_green;
  width: 100%;
  padding-bottom: 280px;
}

.titleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
  padding: 8px 20px;
  width: fit-content;
  border-radius: 12px;
  background: #109D911A;
}

.title {
  margin: 0;
  padding: 0;
  font-size: style.$H2_font_size_mobile;
  font-weight: style.$title_font_weight;
  line-height: 38px;
}

.infoGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #006060;
  font-size: style.$font_size_mobile;
  font-weight: style.$title_font_weight;
  line-height: 32px;
}

.icon {
  width: 24px;
  height: 28px;
  margin-right: 8px;
  padding-top: 4px;
}

.describe {
  width: 90%;
  margin-bottom: 16px;
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  line-height: 28px;
  color: style.$font_black;
  text-align: center;
}

.mobileCard {
  position: absolute;
  bottom: -44px;
  width: 100%;
  padding-bottom: 44px;
  overflow: scroll visible;
  &::-webkit-scrollbar {
    display: none;
  }
}

.cardList {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.card {
  position: relative;
  width: 250px;
  height: 280px;
  padding: 24px;
  background-color: #F5F5F5;
  border-radius: 20px;
}

.cardTitle {
  margin-bottom: 20px;
  font-size: style.$H3_font_size;
  font-weight: style.$title_font_weight;
  line-height: 32px;
}

.hr {
  width: 58px;
  height: 2px;
  margin-bottom: 20px;
  background-color: style.$light_green;
}

.cardBody {
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  color: style.$font_black;
  line-height: 28px;
}

.cardIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: style.$light_green;
  transform: translate(-50%, 50%);
}

.iconImg {
  width: 48px;
  height: 48px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: style.$wrapper_width_tablet;
  }

  .infoGroup {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }

  .activityList {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    column-gap: 36px;
    row-gap: 10px;
    width: 100%;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .activityList {
    width: 80%;
    margin-bottom: 24px;
  }

  .tab.hover1:hover {
    color: #F4AA1C;
  }

  .tab.hover2:hover {
    color: #109D91;
  }

  .tab.hover3:hover {
    color: #FF7628;
  }

  .tab.hover4:hover {
    color: #E9545D;
  }

  .tab.hover5:hover {
    color: #3585FF;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .wrapper {
    width: style.$wrapper_width;
  }

  .activity {
    width: 1073px;
    height: 717px;
    padding: 44px 16px 16px 16px;
    border-radius: 20px;
  }

  .activityList {
    flex-direction: row;
    align-items: flex-start;
    gap: 36px;
    width: 100%;
    margin-bottom: 56px;
  }

  .activityBody {
    padding-bottom: 0px;
  }

  .titleGroup {
    margin-bottom: 28px;
  }

  .title {
    font-size: style.$H2_font_size;
  }

  .info {
    font-size: style.$body_font_size;
  }

  .describe {
    width: 65%;
    margin-bottom: 40px;
    font-size: style.$font_size;
    line-height: 32px;
  }

  .mobileCard {
    position: relative;
    bottom: unset;
    width: 100%;
    padding-bottom: 0;
    overflow: visible;
  }
}