@use '/src/styles/style.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 180px;
  padding-bottom: 34px;
  background-color: style.$middle_green;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vw;
    background-image: url(../../public/svg/bg_7.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: style.$wrapper_width;
  color: white;
}

.describe {
  width: 90%;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: style.$font_size;
  font-weight: style.$body_font_weight;
  line-height: 32px;
  text-align: center;
}

.point {
  margin-bottom: 24px;
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  line-height: 28px;
  text-align: center;
  opacity: 0.6;
}

.img {
  width: 100%;
  height: auto;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: style.$wrapper_width_tablet;
  }

  .describe {
    width: 100%;
    line-height: 32px;
  }
}


@media screen and (min-width: 991px) {
  .wrapper {
    width: style.$wrapper_width;
  }

  .describe {
    width: 55%;
    line-height: 32px;
    margin-bottom: 12px;
  }

  .point {
    margin-bottom: 64px;
  }

  .img {
    width: 58vw;
    height: auto;
    margin-bottom: 40px;
  }
}