@use '/src/styles/style.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 136px;
  background-color: style.$light_green;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 188px;
    background-color: style.$dark_green;
    background-image: url(../../public/svg/bg_1.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: style.$wrapper_width;
}

.icon {
  width: 32px;
  height: 32px;
}

.map {
  width: 1074px;
  height: fit-content;
  margin-bottom: 88px;
}

.mapImg {
  width: 1074px;
  height: auto;
  border-radius: 20px;
}

.schedule {
  width: 1074px;
  height: fit-content;
  margin-bottom: 88px;
}

.scheduleImg {
  width: 1074px;
  height: auto;
  border-radius: 20px;
}