@use '/src/styles/style.scss';

.container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-top: 136px;
  background-color: style.$light_green;
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 188px;
    background-color: style.$dark_green;
    background-image: url(../../public/svg/bg_1.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: style.$wrapper_width;
}

.icon {
  width: 32px;
  height: 32px;
}



.map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1073px;
  height: 600px;
  margin-bottom: 88px;
  border-radius: 20px;
  background-color: style.$dark_green;
  font-size: 32px;
  color: white;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1074px;
  height: 512px;
  border-radius: 20px;
  background-color: style.$dark_green;
  font-size: 32px;
  margin-bottom: 88px;
  color: white;
}