// color
$dark_green: #006060;
$light_green: #109D91;
$middle_green: #02887B;
$purple: #6F4A8A;
$font_black: #313131;


// font
$H2_font_size: 32px;
$H3_font_size: 24px;
$font_size: 20px;
$body_font_size: 18px;
$note_font_size: 14px;
$H2_font_size_mobile: 28px;
$font_size_mobile: 16px;

$title_font_weight: 700;
$body_font_weight: 400;

// container size
$wrapper_width: 75%;
$wrapper_width_tablet: 80%;
$wrapper_width_mobile: 90%;