@use '/src/styles/style.scss';

%hamburgerBtn {
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: style.$purple;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

.hamburger {
  @extend %hamburgerBtn;
  position: fixed;
  border: none;
  background-image: url('../../../public/svg/hamburger.svg');
  box-shadow: 4px 4px 20px 0px #0000001A;
  &:hover {
    cursor: pointer;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80vw;
  max-width: 400px;
  height: 100vh;
  padding: 68px 36px;
  background-color: style.$purple;
  border-radius: 0;
  box-shadow: 0px 4px 40px 0px #0000001A;
  font-size: style.$font_size;
  color: white;
  transition: width 0.5s ease;

  .closeBtn,
  .navItemList,
  .navList,
  .hr,
  .downloadBtn,
  .language {
    transition: opacity 0s ease 0.25s;
  }
}

.closeBtn {
  border: none;
}

.close {
  width: 0px;
  padding: 0;
  overflow: hidden;
  transition: width 0s;

  .closeBtn,
  .navList,
  .hr,
  .downloadBtn,
  .language {
    opacity: 0;
    transition: opacity 0s;
  }
}

.closeBtn {
  @extend %hamburgerBtn;
  position: absolute;
  background-image: url('../../../public/svg/close_btn.svg');
}

.logoGroup {
  display: none;
}

.title {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.logo {
  width: 220px;
  height: 22px;
}

.navItemList {
  display: flex;
  flex-direction: column;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.navItem {
  width: 100%;
  user-select: none;
}

.link {
  display: block;
  width: 100%;
  height: 48px;
  text-decoration: none;
  color: white;
  font-weight: style.$body_font_weight;
  &:hover {
    opacity: 0.7;
  }
}

.navItem:nth-last-of-type(1) > .link {
  margin-bottom: -24px;
}

.hr {
  width: 100%;
  height: 1px;
  margin: 32px 0;
  border: none;
  background-color: white;
  opacity: 50%;
}

.downloadBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  text-align: start;
}


.downloadIcon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
}

.languageBtn {
  color: #E8D7E2;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  font-size: style.$font_size_mobile;
  &.active {
    border: 1px solid #E8D7E2;
    &:hover {
      cursor: default;
      color: #E8D7E2;
    }
  }
  &:hover {
    cursor: pointer;
    color: #fff;
  }
}

.fixedBtn {
  position: fixed;
  z-index: 10;
  right: 5%;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  width: 120px;
  height: 120px;
  padding-bottom: 16px;
  background: linear-gradient(180deg, #E5F3F7 0%, #E8D7E2 100%);
  box-shadow: 4px 4px 20px 0px #0000001A;
  border: none;
  border-radius: 50%;
  color: style.$purple;
  font-size: style.$font_size;
  font-weight: style.$title_font_weight;
  line-height: 28px;
  &:hover {
    cursor: pointer;
    background: #E5F3F7;
    .icon {
      transform: translate(0, 4px);
    }
  }
}

.smallFont {
  font-size: 18px;
  line-height: 24px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-top: 8px;
  pointer-events: none;
  transition: transform 0.1s ease-in;
}

@media screen and (min-width: 1440px) {
  .hamburger {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    height: fit-content;
    padding: 1.2rem 48px;
    background-color: style.$purple;
    border-radius: 0 0 44px 44px;
    box-shadow: 0px 4px 40px 0px #0000001A;
    font-size: style.$body_font_size;
    font-weight: style.$body_font_weight;
    .navItemList,
    .navList,
    .language {
      transition: opacity 0s ease 0s;
    }
  }

  .closeBtn {
    display: none;
  }

  .logoGroup {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 22px;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }

  .navItemList {
    display: flex;
    flex-direction: row;
  }

  .navList {
    width: auto;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0 60px;
  }

  .link {
    text-align: center;
  }

  .navItem:nth-last-of-type(1)>.link {
    margin-bottom: 0;
  }

  .navItem {
    width: fit-content;
  }

  .link {
    width: fit-content;
    height: auto;
  }

  .link:hover {
    opacity: 0.7;
  }

  .hr {
    display: none;
  }

  .downloadBtn {
    display: none;
  }

  .language {
    margin: 0;
    padding: 0;
    min-width: 172px;
  }
}