@use '/src/styles/style.scss';

.container {
  height: fit-content;
  padding-top: 80px;
  padding-bottom: 60px;
  background: linear-gradient(180deg, #9687BB 0%, #E8B1B2 100%);
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 100%;
    height: 6vw;
    background-image: url('../../../public/svg/bg_10.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 13vw;
    background-image: url('../../../public/bg/bg_4_item_2_m.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.wrapper {
  color: white;
}

.trafficGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}

.traffic {
  width: 90%;
  height: fit-content;
  padding: 24px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 4px 4px 20px 0px #0000001A;
}

.titleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.titleIcon {
  width: 52px;
  height: 52px;
}

.title {
  color: style.$purple;
  font-size: style.$H3_font_size;
  font-weight: style.$title_font_weight;
}

.trafficBody {
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  line-height: 28px;
  color: style.$font_black;
  text-align: justify;
  text-align-last: left;
  ul {
    padding: 0 0 0 24px;
  }
}

.textAlignEn {
  text-align: start;
}

.trafficItem a{
  color: style.$font_black;
}

.cardPoint {
  margin: 0 0 12px 0;
  font-size: style.$note_font_size;
  line-height: 22px;
  color: style.$font_black;
}

.point {
  color: #9687BB;
}

.footer {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 5vw;
  background-image: url('../../../public/svg/bg_11.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 80px;
  }

  .trafficGroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 40px;
  }

  .traffic {
    width: 250px;
    min-height: 304px;
  }

  .trafficEn {
    min-height: 416px;
  }
}

@media screen and (min-width: 991px) {
  .trafficGroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 120px;
    padding-bottom: 160px;
    &::after {
      all: unset
    }
  }

  .bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 4%;
      left: 0;
      width: 100%;
      height: 120px;
      background-image: url('../../../public/bg/bg_9_item_1.png');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 8%;
      right: 0;
      width: 100%;
      height: 600px;
      background-image: url('../../../public/bg/bg_9_item_2.png');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: contain;
    }
  }

  .trafficGroup {
    align-items: flex-start;
  }

  .traffic {
    width: 250px;
    height: fit-content;
    min-height: unset;
  }

  .trafficEn {
    min-height: unset;
  }
}