@use '/src/styles/style.scss';

.container {
  height: fit-content;
  padding-top: 120px;
  padding-bottom: 200px;
  background-color: style.$dark_green;

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    width: 100%;
    height: 9vw;
    background-color: style.$light_green;
    background-image: url('../../../public/svg/bg_2.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 10%;
    width: 154px;
    height: 85px;
    background-image: url('../../../public/bg/bg_2_item.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.attractionCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 42px;
  color: white;
}

.num {
  position: absolute;
  top: -4px;
  left: 16px;
  width: 50px;
  height: auto;
}

.titleGroup {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.titleGroupEn {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin-bottom: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  color: white;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: style.$title_font_weight;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 8px 8px 20px 8px;
  border-radius: 20px;
  background-color: white;
}

.cardImg {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 12px;
}

.subtitle {
  margin-bottom: 12px;
  text-align: center;
  font-size: style.$H3_font_size;
  font-weight: style.$title_font_weight;
}

.describe {
  color: #313131;
  text-align: justify;
  text-align-last: center;
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  line-height: 28px;
  margin: 0;
  width: 84%;
}

.describeEn {
  color: #313131;
  text-align: start;
  font-size: style.$body_font_size;
  font-weight: style.$body_font_weight;
  line-height: 28px;
  margin: 0;
  width: 84%;
}

.attractionGroup {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  width: 90%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #02887B;
  &::before {
    content: '';
    position: absolute;
    top: -11vw;
    width: 100%;
    height: 12vw;
    background-image: url('../../../public/svg/bg_3.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: '';
    position: absolute;
    top: -80px;
    left: 5%;
    width: 184px;
    height: 126px;
    background-image: url('../../../public/bg/bg_3_item.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .container::before {
    width: 200px;
    height: 110px;
  }

  .num {
    position: absolute;
    top: -20px;
    left: 28px;
    width: 60px;
    height: auto;
  }

  .cardBody {
    width: 100%;
    height: fit-content;
    padding: 32px 28px;
    border-radius: 20px;
    background-color: white;
  }

  .titleGroup {
    width: 60%;
    padding-right: 12px;
  }

  .title {
    font-size: style.$body_font_size;
  }

  .describe {
    width: 90%;
  }

  .footer::after {
    width: 240px;
    height: 164px;
  }
}

@media screen and (min-width: 991px) {
  .footer::after {
    width: 300px;
    height: 205px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 180px;
    padding-bottom: 0;
    &::before {
      top: 40px;
      right: 20%;
      width: 236px;
      height: 130px;
    }
  }

  .attractionGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .rightCardGroup {
    margin-top: 128px;
  }

  .titleGroup {
    padding-right: 28px;
  }

  .cardBody {
    width: 522px;
    height: fit-content;
    min-height: 432px;
    padding: 32px 28px;
    border-radius: 20px;
    background-color: white;
  }

  .cardImg {
    width: 466px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 12px;
  }

  .describe {
    width: auto;
  }

  .footer {
    &::before {
      top: -9.5vw;
      height: 10vw;
    }

    &::after {
      top: -240px;
      left: unset;
      right: 20%;
      width: 394px;
      height: 270px;
    }
  }
}