@use '/src/styles/style.scss';

.linkBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  padding: 16px 24px;
  border-radius: 100px;
  font-size: style.$font_size;
  font-weight: style.$title_font_weight;
  line-height: 28px;
  color: white;
  border-width: 2px;
  border-style: solid;
  transition: all 0.2s ease;
}

.icon {
  padding-top: 2px;
  width: 24px;
  height: 26px;
  transition: transform 0.2s ease;
}

@media screen and (min-width: 1024px) {
  .linkBtn:hover {
    cursor: pointer;
    .icon {
      transform: translate(4px, 0);
    }
  }
}