@use '/src/styles/style.scss';

.titleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
  padding: 8px 20px;
  width: fit-content;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
}

.title {
  margin: 0;
  padding: 0;
  color: white;
  font-size: style.$H2_font_size_mobile;
  font-weight: style.$title_font_weight;
  text-align: center;
  line-height: 38px;

}

.imgTitleGroup {
  width: 200px;
  height: 84px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.imgTitle {
  width: 0;
  height: 0;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .titleGroup {
    margin-bottom: 32px;
  }

  .title {
    font-size: style.$H2_font_size;
    line-height: 43.5px;
  }

  .imgTitleGroup {
    width: 240px;
    height: 100px;
    margin-bottom: 40px;
  }
}